body {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    text-align: center;
}

.contenido{
    max-width: 600px;
    margin:50px auto;
}

h1{
    color: #fcfc00;
}

a{
    color: #fcfc00;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p{
    margin-bottom: 20px;
}

.hashtag{
    color: #00cc66;
}